<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>diwali app</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">



    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>
	
</head>
	<body style="background-color: darkblue;background-image: url(https://i.pinimg.com/originals/b0/6b/3f/b06b3fc0bf44efcd3c1be170640cacbd.gif);">

<!-- new code -->
<div style="height: auto;width: auto">
  <br>
  <br>
<div style="font-size: 40px;color: yellow;text-align: center;">Hai Farhana</div>
<div style="font-size: 40px;color: yellow;text-align: center;">
  Wish you a  <span style="color:yellowgreen">Happy Diwali</span> 
</div>
<br>
<div style="width:200px;height: 200px;margin: auto;"><img src="https://media1.giphy.com/media/13n4Hd98ewKJsQ/200.gif" style="justify-content:center" alt="">
</div>
<br>
<br>
<br>
<div style="text-align: center;">
 <a href="/wishform"> <button type="button"  class="btn btn-warning btn-rounded" style="color: rgb(78, 4, 72);font-weight: 900;"
  >click here to create a wish for your FRIEND</button></a>
</div>
</div>

<br>
<br>
<br>
<br>
<!-- new code -->








	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>

